<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" class="sidebar_minimize"> -->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Phubai Innovation</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="./assets/css/demo.css">
        <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script> -->
</head>

<body>
    <div class="wrapper">
        <!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Phubai Innovation</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->

            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-innovate-64.png" width="30" height="30" alt="">
                    Báo cáo downtime máy may
                </span>

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li>
                            <div class="avatar-sm">
                                <img src="./assets/img/icons8-clock-64.png" alt="..." class="avatar-img">
                            </div>
                        </li>
                        <li class="text-white text-center" style="margin-right: 20px;">
                            <p id="text_schedule_shift" style="font-size: 24px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="text-white text-center" style="margin-right: 20px;">
                            <p id="text_schedule_time" style="font-size: 24px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <% } %>
                                                        <p class="text-muted text-success">Leading the challange</p><a
                                                            href="/logout"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <%- include ("./partials/mechanic-sewing-sidebar.ejs"); -%>
			<div class="main-panel">
                <div class="content" style="background-color: white;">
                    <div class="row justify-content-center p-3">
                        <div class="text-center d-flex align-items-center">
                                <label for="date_from" class="text-primary" style="text-align: left;">Từ ngày</label>
                                <input type="date" class="form-control" id="date_from" >
                        </div>
                        <div class="text-center d-flex align-items-center" style="margin-left: 30px;">
                                <label for="date_to" class="text-primary">Đến ngày</label>
                                <input type="date" class="form-control" id="date_to">
                            </div>
                        <div class="text-center d-flex align-items-center" style="margin-left: 30px;">
                            <button class="btn btn-danger btn-lg" id="btn_refresh_downtime_data">Cập Nhật</button>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Tổng hợp theo mã lỗi</div>
                                </div>
                                <div class="card-body" style="padding: 10px;">
                                    <div class="chart-container">
                                        <canvas id="barChartbycodedowntime"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">Tổng hợp theo chủng loại máy</div>
                                </div>
                                <div class="card-body" style="padding: 10px;">
                                    <div class="chart-container">
                                        <canvas id="barChartbytypeofmachine"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <style>
                    .loader_custom {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                </style>
                <div class="loader loader-danger loader_custom" id="txt_loader"></div>
			</div>
            <!--   Core JS Files   -->
            <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
            <script src="./assets/js/core/popper.min.js"></script>
            <script src="./assets/js/core/bootstrap.min.js"></script>
            <!-- jQuery UI -->
            <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
            <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
            <!-- jQuery Scrollbar -->
            <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
            <!-- Moment JS -->
            <script src="./assets/js/plugin/moment/moment.min.js"></script>
            <!-- Chart JS -->
            <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
            <!-- jQuery Sparkline -->
            <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
            <!-- Chart Circle -->
            <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
            <!-- Datatables -->
            <script src="./assets/js/plugin/datatables/datatables.min.js"></script>
            <!-- Bootstrap Notify -->
            <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
            <!-- Bootstrap Toggle -->
            <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
            <!-- jQuery Vector Maps -->
            <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
            <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
            <!-- Google Maps Plugin -->
            <script src="./assets/js/plugin/gmaps/gmaps.js"></script>
            <!-- Sweet Alert -->
            <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>
            <script src="./assets/js/ready.min.js"></script>
            <script src="./assets/js/setting-demo.js"></script>
                <!-- Custom JS -->
            <script src="./JS/MechanicSewing/js-mechanic-sewing-downtime-summary-analyst.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>            

</body>

</html>