<!DOCTYPE html>
<html lang="en">
<!-- <html lang="en" class="sidebar_minimize"> -->

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sewing Mechanic</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">
    <link rel="stylesheet" href="./assets/css/demo.css">
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">
    <link rel="stylesheet" href="./assets/css/demo.css"> -->
</head>

<body>
    <div class="wrapper">
        <div class="main-header" data-background-color="purple">
            <div class="logo-header">
                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Mechanic Sewing</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-plan-100.png" width="30" height="30" alt="">
                    Thay đổi layout nhóm chuyền theo line
                </span>

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li>
                            <div class="avatar-sm">
                                <img src="./assets/img/icons8-clock-64.png" alt="..." class="avatar-img">
                            </div>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_shift" style="font-size: 18px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_time" style="font-size: 18px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <%} %>
                                                        <p class="text-muted text-success">Leading the challange</p>
                                                            <a
                                                            href="../TemplateExcel/sewing_setup_change_style_template.xlsx"
                                                            download="sewing_setup_change_style_template.xlsx"
                                                            class="btn btn-rounded btn-primary btn-sm">Template</a>
                                                            <a
                                                            href="/logout"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                                        
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <%- include ("./partials/mechanic-sewing-sidebar.ejs"); -%>
            <div class="main-panel" style="background-color: white;">
                <div class="content">
                    <div class="card mx-auto" style="max-width: 50%;">
                        <div class="card-header" style="display: inline-flex;">
                            <div class="card-title">
                                <h1 style="color: green;font-weight: bold;">ĐIỀN THÔNG TIN TOÀN BỘ MÁY CHUYỂN THEO NHÓM</>
                            </div>
                            <button type="button" class="btn btn-danger ml-auto" id="btn_update_layout">Cập nhật hệ thống</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive mx-auto">
                                <table class="table table-bordered" id="table_moving_layout">
                                    <thead>
                                        <style>
                                            .custom_size{
                                                font-size: 17px !important;
                                            }
                                        </style>
                                        <tr>
                                            <!-- <th scope="col" class="text-center text-white custom_size bg-primary" style="width: 80px;">#</th> -->
                                            <th scope="col" class="text-center text-white custom_size bg-danger"><i class="fas fa-flag text-white"></i>   LINE ĐI</th>
                                            <th scope="col" class="text-center text-white custom_size bg-info"><i class="fas fa-map-marker-alt text-white"></i>   LINE ĐẾN</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <!-- <th class="text-center">1</th> -->
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-danger text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_from_1" style="padding: 5px;">
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-info text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_to_1" style="padding: 5px;">
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr  style="display: none;">
                                            <!-- <th class="text-center">2</th> -->
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-danger text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_from_2" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-info text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_to_2" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr  style="display: none;">
                                            <!-- <th class="text-center">3</th> -->
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-danger text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_from_3" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-info text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_to_3" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr  style="display: none;">
                                            <!-- <th class="text-center">4</th> -->
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-danger text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_from_4" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-info text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_to_4" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr  style="display: none;">
                                            <!-- <th class="text-center">5</th> -->
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%;" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-danger text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_from_5" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-info text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_to_5" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr  style="display: none;">
                                            <!-- <th class="text-center">6</th> -->
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-danger text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_from_6" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-info text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_to_6" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr  style="display: none;">
                                            <!-- <th class="text-center">7</th> -->
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-danger text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_from_7" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="input-group" style="margin-left: 5px;max-width: 80%" style="display: block;">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text bg-info text-white" style="border: 0;">Line
                                                        </div>
                                                    </div>
                                                    <select class="form-control" id="txt_to_7" style="padding: 0;">
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>      
                </div>
            </div>

    </div>
    <!--   Core JS Files   -->
    <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="./assets/js/core/popper.min.js"></script>
    <script src="./assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Moment JS -->
    <script src="./assets/js/plugin/moment/moment.min.js"></script>
    <!-- Chart JS -->
    <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
    <!-- Datatables -->
    <script src="./assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
    <!-- Google Maps Plugin -->
    <script src="./assets/js/plugin/gmaps/gmaps.js"></script>
    <!-- Sweet Alert -->
    <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Azzara JS -->
    <script src="./assets/js/setting-demo.js"></script>
    <script src="./assets/js/ready.min.js"></script>
    <!-- Custom JS -->
    <script src="./JS/MechanicSewing/js-mechanic-sewing-moving-layout.js"></script>
</body>

</html>