<!DOCTYPE html>
<html lang="en" class="sidebar_minimize">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Phubai MMS - MC Position</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="./assets/css/demo.css">
</head>

<body>
    <div class="wrapper">
        <!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Phubai Innovation</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded"><i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-innovate-64.png" width="30" height="30" alt="">
                    Thiết lập & cập nhật di chuyển máy
                </span>

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li>
                            <div class="avatar-sm">
                                <img src="./assets/img/icons8-clock-64.png" width="30" height="30" alt="..." class="avatar-img">
                            </div>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_shift" style="font-size: 16px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_time" style="font-size: 16px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <% } %>
                                                        <p class="text-muted text-success">Leading the challange</p><a
                                                            href="/logout"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <style>
            .machine-container {
                display: flex;
                gap: 5px;
            }
    
            .big-col {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin: 10px;
                max-width: 360px;
                border: 1px solid #ccc;
                border-radius: 8px;
            }
    
            .column-header {
                background-color: #f0f0f0;
                padding: 5px;
                text-align: center; /* Căn giữa tiêu đề */
                font-weight: bold;
                background-color:#f0f0f0;
                color: black;
            }
    
            .small-col {
                flex: 1;
                display: flex;
                flex-direction: row;  
                max-width: 360px;
                padding: 0;
            }
    
            .sub-col {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-top: 1px;
                margin-bottom: 1px;
            }
    
            .column-footer {
                background-color: #f0f0f0;
                text-align: center;
                margin-top: 5px;
                max-width: 360px;
                font-weight: bold;
                background-color:#f0f0f0;
                color: black;
            }
    
            .cell {
                border: 1px solid #ccc;
                text-align: left;
                min-height: 90px;
                padding: 5px;
                position: relative; /* Định vị tri số Pos */
                margin: 6px;
                border-radius: 6px;
                height: 85px;
                cursor: pointer;
                font-size: 12px;
            }
    
            .empty-cell {
                border: 1px solid #ccc;
                min-height: 90px;
                background-color: #fff;
            }

            .highlighted {
            background-color: blue;
            color: white;
        }
    
            .pos-number {
                position: absolute;
                top: 0;
                right: 0;
                /* background-color: #fff; */
                padding: 3px;
                border-bottom-left-radius: 3px;
                font-size: 15px;
                color: black;
            }

        </style>
        <!-- Sidebar -->
        <%- include ("./partials/mechanic-sewing-sidebar.ejs"); -%>
            <div class="main-panel">
                <div class="content" style="background-color: white;">
                    <div class="row row-demo-grid">
                        <div class="col-md-12" style="background-color: white;">
                            <div class="card">
                                <div class="card-body" style="background-color: white;font-size: 10px;margin: 0px;padding: 0px 0px 0px 15px;">
                                    <div class="row row-demo-grid">
                                        <div class="col-md-4">
                                            <div class="form-group form-inline">
                                                <div class="input-group-prepend"><div class="input-group-text bg-danger text-white" style="padding: 10;">Nhóm chuyền</div>
                                                </div>
                                                <select class="form-control" id="txt_groupmachine" style="padding: 0; width: 160px;">
                                                </select>
                                                <div class="input-group" style="width: 120px;margin-left: 10px;" >
                                                    <button class="btn btn-secondary" id="btn_loading_layout"><i class="fas fa-air-freshener" style="font-size: 16px;"></i> Xem layout</button>
                                                </div>
                                            </div>
                                            <div class="input-group" style="margin-top: 15px;">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text text-success"><i class="fas fa-microchip"></i></span>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Nhập hoặc scan mã máy" id="txt_machineID" autocomplete="off" style="max-width: 260px;">
                                                <button type="button" class="btn btn-icon btn-round btn-primary" id='btn_loading' style="margin-left: 5px;"><i class="fas fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-2 p-0">
                                            <div class="input-group p-0">
                                                <div class="form-group form-inline">
                                                    <i class="fas fa-barcode text-danger" style="font-size: 16px;"
                                                        style="margin-right: 5px;"></i>
                                                        <p for="inlineinput" class="col-form-label" style="font-size: 16px;" >ID:  <p for="inlineinput" class="col-form-label" id="txt_IDMachine" style="font-size: 16px;"></p</p>
                                                </div>
                                                <div class="form-group form-inline">
                                                    <i class="la fas fa-ship text-danger" style="font-size: 16px;"
                                                        style="margin-right: 5px;"></i>
                                                        <p for="inlineinput" class="col-form-label" style="font-size: 16px;" >Loại máy:  <p for="inlineinput" class="col-form-label" id="txt_machineType" style="font-size: 16px;"></p</p>
                                                </div>
                                            </div>
                                            <div class="input-group p-0">
                                                <div class="form-group form-inline">
                                                    <i class="la fas fa-gas-pump text-primary" style="font-size: 16px;"
                                                        style="margin-right: 5px;"></i>
                                                        <p for="inlineinput" class="col-form-label" style="font-size: 16px;" >Line:  <p for="inlineinput" class="col-form-label" id="txt_machineLine" style="font-size: 16px;"></p</p>
                                                </div>
                                                <div class="form-group form-inline">
                                                    <i class="la fas fa-route text-primary" style="font-size: 16px;"
                                                        style="margin-right: 5px;"></i>
                                                        <p for="inlineinput" class="col-form-label" style="font-size: 16px;" >Vị trí:  <p for="inlineinput" class="col-form-label" id="txt_machinePos" style="font-size: 16px;"></p</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-inline">
                                                <div class="input-group-prepend"><div class="input-group-text bg-primary text-white" style="padding: 10;">Chọn group</div>
                                                </div>
                                                <select class="form-control" id="txt_newgroup" style="padding: 0; width: 160px;">
                                                </select>
                                            </div>
                                            <div class="form-group form-inline">
                                                <div class="input-group-prepend"><div class="input-group-text bg-primary text-white" style="padding: 10;">Chọn line</div>
                                                </div>
                                                <select class="form-control" id="txt_newline" style="padding: 0; width: 175px;">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group form-inline">
                                                <div class="input-group-prepend"><div class="input-group-text bg-primary text-white" style="padding: 10;">Vị trí trống/line</div>
                                                </div>
                                                <select class="form-control" id="txt_newposition" style="padding: 0; width: 140px;">
                                                </select>
                                                <div class="input-group" style="width: 120px;margin-left: 10px;" >
                                                    <button class="btn btn-success" id="btn_submit_location"><i class="fas fa-angle-double-right" style="font-size: 16px;"></i> Xác nhận</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="container-fluid" style="padding:0px">
                                        <div class="row">
                                            <div class="col-md-12 machine-container" id="machine_layout_arrange" style="background-color: white;"></div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ===================MODAL=================================== -->
                    <div class="modal fade" id="modal_change_location" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="max-width: 45%;">
                            <div class="modal-content">
                                <div class="modal-header bg-primary">
                                    <h2 class="modal-title">THAY ĐỔI VỊ TRI MÁY</h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                    <div class="form-row align-items-center col-12" style="margin-top: 15px;">
                                        <div class="col-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text  bg-info text-white">ID Máy</span>
                                                </div>
                                                <input type="text" class="form-control" id="txt_oldIDMachine" readonly style="color: black;">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text  bg-info text-white">Kiểu máy</span>
                                                </div>
                                                <input type="text" class="form-control" id="txt_oldTypeMachine" readonly style="color: black;">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text  bg-info text-white">Line cũ</span>
                                                </div>
                                                <input type="text" class="form-control" id="txt_oldMachineLine" readonly style="color: black;">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text  bg-info text-white">Vị trí cũ</span>
                                                </div>
                                                <input type="text" class="form-control" id="txt_oldMachinePos" readonly style="color: black;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row align-items-center col-12" style="margin-top: 25px;">
                                        <div class="col-6"></div>
                                        <div class="col-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-danger text-white">Line mới</span>
                                                </div>
                                                <input type="text" class="form-control" id="txt_moveNewLine" readonly>
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-danger text-white">Vị trí mới</span>
                                                </div>
                                                <input type="text" class="form-control" id="txt_moveNewPos" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="padding: 5px;">
                                    <div class="form-row align-items-center col-12" style="margin-top: 15px;margin-bottom: 25px;">
                                        <div class="col-5">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text bg-secondary text-white">
                                                        <i class="fas fa-fingerprint">Kỹ thuật máy</i>
                                                    </span>
                                                </div>
                                                <input type="text" class="form-control" id="txt_moveIDMechanic" placeholder="Quét thẻ MEC vào đây" autocomplete="off">
                                                <button class="btn btn-warning" id="btn_clear_move"><i class="fas fas fa-anchor" style="font-size: 14px;"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-5">
                                        </div>
                                        <div class="col-2">
                                            <button class="btn btn-success" id="btn_move_submit">Xác nhận di chuyển</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ===================END MODAL=================================== -->
                </div>
            </div>
            <!--   Core JS Files   -->
            <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
            <script src="./assets/js/core/popper.min.js"></script>
            <script src="./assets/js/core/bootstrap.min.js"></script>
            <!-- jQuery UI -->
            <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
            <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
            <!-- jQuery Scrollbar -->
            <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
            <!-- Moment JS -->
            <script src="./assets/js/plugin/moment/moment.min.js"></script>
            <!-- Chart JS -->
            <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
            <!-- jQuery Sparkline -->
            <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
            <!-- Chart Circle -->
            <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
            <!-- Datatables -->
            <script src="./assets/js/plugin/datatables/datatables.min.js"></script>
            <!-- Bootstrap Notify -->
            <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
            <!-- Bootstrap Toggle -->
            <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
            <!-- jQuery Vector Maps -->
            <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
            <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
            <!-- Google Maps Plugin -->
            <script src="./assets/js/plugin/gmaps/gmaps.js"></script>
            <!-- Sweet Alert -->
            <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>
            <script src="./assets/js/ready.min.js"></script>
            <script src="./assets/js/setting-demo.js"></script>
            <!-- Custom JS -->
            <script src="./JS/MechanicSewing/js-mechanic-sewing-change-machine-position.js"></script>
</body>

</html>