<!DOCTYPE html>
<html lang="en" class="sidebar_minimize">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sewing Mechanic</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">
    <link rel="stylesheet" href="./assets/css/demo.css">
    <!-- <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">
    <link rel="stylesheet" href="./assets/css/demo.css"> -->
</head>

<body>
    <div class="wrapper">
        <div class="main-header" data-background-color="purple">
            <div class="logo-header">
                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Mechanic Sewing</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse"
                    data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fa fa-bars"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-plan-100.png" width="30" height="30" alt="">
                    Mechanic thiết lập line nhóm chuyền sản xuất
                </span>

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li>
                            <div class="avatar-sm">
                                <img src="./assets/img/icons8-clock-64.png" alt="..." class="avatar-img">
                            </div>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_shift" style="font-size: 18px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_time" style="font-size: 18px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <%} %>
                                                        <p class="text-muted text-success">Leading the challange</p>
                                                            <a
                                                            href="/logout"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                                        
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <%- include ("./partials/mechanic-sewing-sidebar.ejs"); -%>
            <div class="main-panel" style="background-color: white;">
                <div class="content">
                    <div class="card card-stats card-round mx-auto" style="max-width: 50%;">
                        <div class="card-body" style="background-color: white;">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-info bubble-shadow-small">
                                        <i class="fas fa-door-open"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ml-3 ml-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Số nhóm chuyển & Khu vực</p>
                                        <h2 class="card-title" id="total_number_groupline">0</h2>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-bordered" style="margin-top: 3px;"  id="table_groupline_machanic">
                                <thead>
                                    <tr style="background-color: rgb(129, 87, 201);">
                                        <th scope="col" class="text-center text-white">#</th>
                                        <th scope="col" class="text-center text-white">Line</th>
                                        <th scope="col" class="text-center text-white">Zone</th>
                                        <th scope="col" class="text-center text-white">Nhóm chuyền</th>
                                        <th scope="col" class="text-center text-white">Tài khoản<br>cập nhật</th>
                                        <th scope="col" class="text-center text-white">Thời gian</th>
                                        <th scope="col" class="text-center text-white">Nghiệp vụ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal" id="modal_line_setup" tabindex="-1" role="dialog">
                        <style>
                            .modal-lg {
                                max-width: 80%;
                            }
                        </style>
                        <div class="modal-dialog modal-lg " role="document" style="width: fit-content;">
                            <div class="modal-content">
                                <div class="modal-header bg-danger">
                                    <h2 class="modal-title">Thay đổi cấu hình nhóm</span></h2>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                        style="color: white;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body p-1">
                                    <div class="row row-demo-grid text-left">
                                        <div class="col-md-12">
                                            <div class="form-group text-left" >
                                                <label for="pop_line">Line</label>
                                                <input type="text" class="form-control" id="pop_line" readonly>
                                            </div>
                                            <div class="row col-md-12 mx-auto">
                                                <div class="form-group text-left col-md-6">
                                                    <label for="pop_zone">Zone/Khu vực hiện tại</label>
                                                    <input type="text" class="form-control" id="pop_zone" readonly>
                                                </div>
                                                <div class="form-group text-left col-md-6">
                                                    <label for="pop_zone_new">Zone/Khu vực mới</label>
                                                    <input type="text" class="form-control" id="pop_zone_new">
                                                </div>
                                            </div>
                                            <hr>
                                            <h3 class="text-danger">Định dạng "xxx-xxx"</h3>
                                            <div class="row col-md-12 mx-auto">

                                                <div class="form-group text-left col-md-6">
                                                    <label for="pop_group">Nhóm chuyền hiện tại</label>
                                                    <input type="text" class="form-control" id="pop_group" readonly>
                                                </div>
                                                <div class="form-group text-left col-md-6">
                                                    <label for="pop_group_new">Nhóm chuyền mới </label>
                                                    <input type="text" class="form-control" id="pop_group_new">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-action" style="float: right;">
                                        <button class="btn btn-success" id="btn_update">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


    </div>
    <!--   Core JS Files   -->
    <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="./assets/js/core/popper.min.js"></script>
    <script src="./assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Moment JS -->
    <script src="./assets/js/plugin/moment/moment.min.js"></script>
    <!-- Chart JS -->
    <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
    <!-- jQuery Sparkline -->
    <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <!-- Chart Circle -->
    <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
    <!-- Datatables -->
    <script src="./assets/js/plugin/datatables/datatables.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
    <!-- jQuery Vector Maps -->
    <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
    <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
    <!-- Google Maps Plugin -->
    <script src="./assets/js/plugin/gmaps/gmaps.js"></script>
    <!-- Sweet Alert -->
    <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>
    <!-- Azzara JS -->
    <script src="./assets/js/setting-demo.js"></script>
    <script src="./assets/js/ready.min.js"></script>
    <!-- Custom JS -->
    <script src="./JS/MechanicSewing/js-mechanic-sewing-setup-groupline.js"></script>
</body>

</html>