<!DOCTYPE html>
<html lang="en" class="sidebar_minimize">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Phubai MMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="./assets/css/demo.css">
</head>

<body>
    <div class="wrapper">
        <!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Phubai Innovation</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded"><i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-innovate-64.png" width="30" height="30" alt="">
                    Quản lý yêu cầu và nhận partlist tồn kho
                </span>

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li>
                            <div class="avatar-sm">
                                <img src="./assets/img/icons8-clock-64.png" width="30" height="30" alt="..." class="avatar-img">
                            </div>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_shift" style="font-size: 16px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_time" style="font-size: 16px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <% } %>
                                                        <p class="text-muted text-success">Leading the challange</p><a
                                                            href="/logout"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>

        <!-- Sidebar -->
        <%- include ("./partials/mechanic-sewing-sidebar.ejs"); -%>
            <div class="main-panel">
                <div class="content">
                    <div class="row row-demo-grid mx-auto" style="max-width: 95%; display: none;">
                        <div class="col-md-2">
                            <div class="input-group p-0">
                                <div class="form-group">
                                    <label for="txt_ticket" class="float-left"><i class="la fas fa-barcode text-info"></i>  Ticket       </label>
                                    <input type="text" class="form-control" id="txt_ticket" readonly
                                        placeholder="Số yêu cầu">
                                </div>
                                <div class="form-group">
                                    <label for="txt_machineID" class="float-left"><i class="la fas fa-ship text-info"></i>  Mã máy</label>
                                    <input type="text" class="form-control" id="txt_machineID" readonly
                                        placeholder="ID Máy">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group p-0">
                                <div class="form-group">
                                    <label for="txt_partcode" class="float-left"><i class="la fas fa-cogs text-info"></i>  Mã Part      </label>
                                    <input type="text" class="form-control" id="txt_partcode" readonly
                                        placeholder="Mã yêu cầu">
                                </div>
                                <div class="form-group">
                                    <label for="txt_partname" class="float-left"><i class="la fas fa-code text-info"></i>  Tên part     </label>
                                    <input type="text" class="form-control" id="txt_partname" readonly
                                        placeholder="Tên part yêu cầu">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group p-0">
                                <div class="form-group">
                                    <label for="txt_mechanicName" class="float-left"><i class="la fas fa-address-card text-success"></i>  Người yêu cầu</label>
                                    <input type="text" class="form-control" id="txt_mechanicName" readonly
                                        placeholder="Kỹ thuật máy">
                                </div>
                                <div class="form-group">
                                    <label for="txt_reason" class="float-left"><i class="la fas fa-bug text-danger"></i>  Lý do yêu cầu (1)</label>
                                    <input type="text" class="form-control" id="txt_reason"
                                        placeholder="Ghi lý do">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group p-0">
                                <div class="form-group">
                                    <label for="txt_numberRequest" class="float-left"><i class="la fas fa-cube text-muted"></i>  Số lượng yêu cầu</label>
                                    <input type="text" class="form-control" id="txt_numberRequest" readonly
                                        placeholder="Số lượng yêu cầu">
                                </div>
                                <div class="form-group">
                                    <label for="txt_numberIssuse" class="float-left"><i class="la fas fa-dice text-success"></i>  Số lượng cấp (2)</label>
                                    <input type="number" class="form-control" id="txt_numberIssuse"  value="1" min="1"
                                        placeholder="Số lượng cấp">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 align-items-center">
                            <div class="input-group p-0">
                                <div class="form-group" style="padding-left: 0;">
                                    <label for="txt_location" class="float-left"><i class="la fas fa-location-arrow text-info"></i>  Vị trí part yêu cầu</label>
                                    <select class="form-control" id="txt_location" style="padding: 5px;">
                                    </select>
                                </div>
                            </div>
                            <div class="text-center d-flex align-items-left" style="margin-top: 20px;">
                                <button class="btn btn-primary btn-lg" id="btn_update_part"><i class="la fas fa-cloud-upload-alt text-white"></i>   Cập Nhật</button>
                            </div>
                        </div>
                        <div class="col-md-1 align-items-center d-flex">
                            <button class="btn btn-warning btn-lg" id="btn_create_newticket"><i class="la fas fa-check-square text-white"></i>   Tạo yêu cầu mới</button>
                        </div>
                    </div>
                    <div class="card">
                            <div class="card-body p-0">
                                <div class="col-md-12 p-2">
                                    <div class="card shadow-lg">
                                        <div class="card-header bg-secondary">
                                            <div class="card-head-row d-flex justify-content-between align-items-center">
                                                <div class="card-title text-white">Bảng tổng hợp thông yêu cầu</div>
                                                <div class="form-group form-inline" style="display: none;">
                                                    <label for="inlineinput" class="col-form-label text-white mr-2">Trạng thái yêu cầu</label>
                                                    <div class="p-1">
                                                        <select class="form-control" id="txt_mode_filter" style="width: 180px;">
                                                            <option value="0" selected>Tất cả</option>
                                                            <option value="1">Đang đợi</option>
                                                            <option value="2">Đã cấp</option>
                                                        </select>
                                                    </div>
                                                    <div class="text-center d-flex align-items-center" style="margin-left: 20px;margin-right: 20px;">
                                                        <label for="date_from" class="text-white" style="text-align: left;width: 80px;">Ngày truy vấn  </label>
                                                        <input type="date" class="form-control" id="date_today" >
                                                    </div>
                                                    <div class="text-center d-flex align-items-center" style="margin-left: 30px;">
                                                        <button class="btn btn-success btn-lg" id="btn_update">Lọc dữ liệu</button>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="table_part_control" class="table table table-sm table-border"
                                                    style="margin-left: 5px;margin-right: 5px;">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã yêu cầu</th>
                                                            <th>Nhóm chuyền</th>
                                                            <th>Kỹ thuật máy</th>
                                                            <th>Mã máy</th>
                                                            <th>Mã part</th>
                                                            <th>Tên part</th>
                                                            <th>Số lượng</th>
                                                            <th>Thời gian</th>
                                                            <th>Trạng thái</th>
                                                            <th>Người duyệt</th>
                                                            <th>HT Yêu cầu</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--   Core JS Files   -->
            <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
            <script src="./assets/js/core/popper.min.js"></script>
            <script src="./assets/js/core/bootstrap.min.js"></script>
            <!-- jQuery UI -->
            <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
            <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
            <!-- jQuery Scrollbar -->
            <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
            <!-- Moment JS -->
            <script src="./assets/js/plugin/moment/moment.min.js"></script>
            <!-- Chart JS -->
            <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
            <!-- jQuery Sparkline -->
            <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
            <!-- Chart Circle -->
            <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
            <!-- Datatables -->
            <script src="./assets/js/plugin/datatables/datatables.min.js"></script>
            <!-- Bootstrap Notify -->
            <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
            <!-- Bootstrap Toggle -->
            <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
            <!-- jQuery Vector Maps -->
            <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
            <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
            <!-- Google Maps Plugin -->
            <script src="./assets/js/plugin/gmaps/gmaps.js"></script>
            <!-- Sweet Alert -->
            <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>
            <script src="./assets/js/ready.min.js"></script>
            <script src="./assets/js/setting-demo.js"></script>
            <!-- Custom JS -->
            <script src="./JS/MechanicSewing/js-mechanic-sewing-partlist-control.js"></script>
</body>

</html>