<!DOCTYPE html>
<html lang="en" class="sidebar_minimize">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Phubai MMS</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="./assets/img/icon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="./assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Open+Sans:300,400,600,700"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands"], urls: ['./assets/css/fonts.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/azzara.min.css">

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link rel="stylesheet" href="./assets/css/demo.css">
</head>

<body>
    <div class="wrapper">
        <!--
			Tip 1: You can change the background color of the main header using: data-background-color="blue | purple | light-blue | green | orange | red"
		-->
        <div class="main-header" data-background-color="purple">
            <!-- Logo Header -->
            <div class="logo-header">

                <a href="/" class="logo">
                    <h2 class="navbar-brand" style="color: white;">Phubai Innovation</h2>
                </a>
                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
                </button>
                <button class="topbar-toggler more"><i class="fa fa-ellipsis-v"></i></button>
                <div class="navbar-minimize">
                    <button class="btn btn-minimize btn-rounded"><i class="fa fa-bars"></i>
                    </button>
                </div>
            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg">
                <span class="navbar-brand text-white">
                    <img src="./assets/img/icons8-innovate-64.png" width="30" height="30" alt="">
                    Quản lý trực quan máy theo nhóm chuyền
                </span>

                <div class="container-fluid">
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                        <li>
                            <div class="avatar-sm">
                                <img src="./assets/img/icons8-clock-64.png" width="30" height="30" alt="..." class="avatar-img">
                            </div>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_shift" style="font-size: 16px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="text-white text-center" style="margin-right: 10px;">
                            <p id="text_schedule_time" style="font-size: 16px;margin-top: auto;margin-bottom: auto;">
                            </p>
                        </li>
                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"
                                aria-expanded="false">
                                <div class="avatar-sm">
                                    <img src="./assets/img/inno.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <li>
                                    <div class="user-box">
                                        <div class="avatar-lg"><img src="./assets/img/inno.jpg" alt="image profile"
                                                class="avatar-img rounded"></div>
                                        <div class="u-text">
                                            <% if (typeof user!=='undefined' ) { %>
                                                <h4 id="username">Xin chào <%= user%>
                                                </h4>
                                                <% } else { %>
                                                    <h4 id="username">mung.tran@hanes.com</h4>
                                                    <% } %>
                                                        <p class="text-muted text-success">Leading the challange</p><a
                                                            href="/logout"
                                                            class="btn btn-rounded btn-danger btn-sm">Thoát</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
        <style>
            .machine-container {
                display: flex;
                gap: 5px;
            }
    
            .big-col {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin: 10px;
                max-width: 360px;
                border: 1px solid #ccc;
                border-radius: 8px;
            }
    
            .column-header {
                background-color: #f0f0f0;
                padding: 5px;
                text-align: center; /* Căn giữa tiêu đề */
                font-weight: bold;
                background-color:#f0f0f0;
                color: black;
            }
    
            .small-col {
                flex: 1;
                display: flex;
                flex-direction: row;  
                max-width: 360px;
                padding: 0;
            }
    
            .sub-col {
                flex: 1;
                display: flex;
                flex-direction: column;
                margin-top: 1px;
                margin-bottom: 1px;
            }
    
            .column-footer {
                background-color: #f0f0f0;
                text-align: center;
                margin-top: 5px;
                max-width: 360px;
                font-weight: bold;
                background-color:#f0f0f0;
                color: black;
            }
    
            .cell {
                border: 1px solid #ccc;
                text-align: left;
                min-height: 90px;
                padding: 5px;
                position: relative; /* Định vị tri số Pos */
                margin: 6px;
                border-radius: 6px;
                height: 85px;
                cursor: pointer;
                font-size: 12px;
            }
    
            .empty-cell {
                border: 1px solid #ccc;
                min-height: 90px;
                background-color: #fff;
            }

            .highlighted {
            background-color: blue;
            color: white;
        }
    
            .pos-number {
                position: absolute;
                top: 0;
                right: 0;
                /* background-color: #fff; */
                padding: 3px;
                border-bottom-left-radius: 3px;
                font-size: 15px;
                color: black;
            }

        </style>
        <!-- Sidebar -->
        <%- include ("./partials/mechanic-sewing-sidebar.ejs"); -%>
            <div class="main-panel">
                <div class="content" style="background-color: white;">
                    <div class="row row-demo-grid">
                        <div class="col-md-12" style="background-color: white;">
                            <div class="card">
                                <div class="card-body p-10" style="background-color: white;font-size: 10px;">
                                    <div class="row justify-content-center mx-auto " style="height: fit-content;">
                                        <div class="card"
                                            style="max-width: 160px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body" style="background-color: #57d1a7;color: black;border-radius: 12px;">Hoạt
                                                động tốt</div>
                                        </div>
                                        <div class="card"
                                            style="max-width: 140px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body" style="background-color: red;color: white;border-radius: 12px;">Đang hỏng
                                            </div>
                                        </div>
                                        <div class="card"
                                            style="max-width: 140px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body" style="background-color: yellow;color: black;border-radius: 12px;">Đang
                                                sửa</div>
                                        </div>
                                        <div class="card"
                                            style="max-width: 140px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body" style="background-color: blue;color: white;border-radius: 12px;">PM</div>
                                        </div>
                                        <div class="card"
                                            style="max-width: 140px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body" style="background-color: orange;color: white;border-radius: 12px;">Xì khí
                                            </div>
                                        </div>
                                        <div class="card"
                                            style="max-width: 140px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body"
                                                style="background-color: rgb(70, 89, 8);color: white;border-radius: 12px;">Hỏng bảo hộ</div>
                                        </div>
                                        <div class="card"
                                            style="max-width: 140px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body"
                                                style="background-color: rgb(83, 4, 120);color: white;border-radius: 12px;">Đóng cuối ca
                                            </div>
                                        </div>
                                        <div class="card"
                                            style="max-width: 140px;margin-left: 10px;margin-right: 10px;">
                                            <div class="card-body"
                                                style="background-color: rgb(0, 155, 173);color: white;border-radius: 12px;">Chuyển đổi
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="text-center d-flex align-items-center" style="margin-left: 10px;">
                                            <h3 class="text-info"><i class="fas fa-battery-empty"style="margin-right: 5px;color: red;"></i>Vị trí trống|<span id="txt_freespace" class="text-danger">0</span></h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 10px;">
                                            <h3 class="text-info"><i class="fas fa-magic"style="margin-right: 5px;"></i>Tổng số máy|<span id="txt_total_machine" class="text-success">0</span>
                                            </h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 10px;">
                                            <h3 class="text-info"><i class="fas fa-lemon"style="margin-right: 5px;color: red;"></i>Đang hỏng|<span id="txt_broken_machine" class="text-danger">0</span></h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 10px;">
                                            <h3 class="text-info"><i class="fas fa-registered" style="margin-right: 5px;color: orange;"></i>Đang sửa |<span id="txt_repair_machine" class="text-warning">0</span></h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 10px;">
                                            <h3 class="text-info"><i class="fas fa-broom" style="margin-right: 5px;color: purple;"></i>Chuyển đổi|<span id="txt_changestyle_machine" class="text-muted">0</span></h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 10px;">
                                            <h3 class="text-info"><i class="fas fa-comment-slash"style="margin-right: 5px;color: rgb(28, 194, 58);"></i>Xì khí|<span id="txt_drop_air" class="text-muted">0</span></h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 30px;">
                                            <h3 class="text-info"><i class="fas fa-broom"style="margin-right: 5px;color: blue;"></i>PM|<span id="txt_pm_machine" class="text-muted">0</span></h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 30px;">
                                            <h3 class="text-info"><i class="fas fa-fill-drip"style="margin-right: 5px;color: rgb(83, 150, 217);"></i>Hỏng bảo hộ|<span id="txt_fail_protect" class="text-muted">0</span></h3>
                                        </div>
                                        <div class="text-center d-flex align-items-center" style="margin-left: 30px;">
                                            <h3 class="text-info"><i class="fas fa-flag" style="margin-right: 5px;color: rgb(246, 135, 246);"></i>Đóng cuối ca|<span id="txt_endshift" class="text-muted">0</span></h3>
                                        </div>
                                        <div class="input-group"style="width: 220px; margin-left: 15px; margin-right: 15px;"style="display: block;">
                                            <div class="input-group-prepend"><div class="input-group-text bg-danger text-white" style="border: 0;">Nhóm chuyền</div>
                                            </div>
                                            <select class="form-control" id="txt_groupmachine" style="padding: 0;">
                                            </select>
                                        </div>
                                        <div class="input-group" style="width: 120px;margin-right: 15px;">
                                            <button class="btn btn-success" id="btn_loading">Cập nhật</button>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row row-demo-grid p-0" style="overflow-x: auto;">
                                        <div class="col-md-12 p-0" style="background-color: white;">
                                            <div class="card p-0">
                                                <div class="card-body p-0">
                                                    <div class="container-fluid" style="padding:0px">
                                                        <div class="row">
                                                            <div class="col-md-2 " id ="modal_open_ticket"style="display: none;background-color: white;">
                                                                <div class="card mx-auto " style="background-color: white;margin-top: 12px;">
                                                                    <div class="card-header bg-primary"  style="border-radius: 10px 10px 0px 0px;">
                                                                        <div class="card-title text-white">Bấm giờ máy hỏng
                                                                            <button type="button" class="close" aria-label="Close" style="color: red;" id="btn_close_openticket"><span aria-hidden="true">&times;</span></button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-body p-1" style="background-color: white;font-size: 15px;">
                                                                        <div class="input-group col-md-12" style="margin-top: 15px;">
                                                                            <div class="input-group-prepend">
                                                                                <span class="input-group-text text-danger"><i class="fas fa-user-tag"></i></span>
                                                                            </div>
                                                                            <input type="text" class="form-control" placeholder="Quét thẻ nhân viên" id="txt_idnv" autocomplete="off">
                                                                            <button type="button" class="btn btn-icon btn-round btn-primary" id='btn_seaching' style="margin-left: 5px;"><i class="far fa-play-circle"></i>
                                                                            </button>
                                                                        </div>
                                                                        <div class="input-group col-md-12" >
                                                                            <div class="form-group form-inline">
                                                                                <i class="la fas fa-fingerprint text-warning" style="margin-right: 5px;"></i>
                                                                                <p for="inlineinput" class="col-form-label">Mã số: <p for="inlineinput" class="col-form-label" id="txt_emp"></p></p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="input-group col-md-12">
                                                                            <div class="form-group form-inline">
                                                                                <i class="la fas fa-child text-info" style="margin-right: 5px;"></i>
                                                                                <p for="inlineinput" class="col-form-label" >Họ tên: <p for="inlineinput" class="col-form-label" id="txt_emp_name"></p</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="input-group col-md-12">
                                                                            <div class="form-group form-inline">
                                                                                <i class="la fas fa-sort-amount-up text-warning" style="margin-right: 5px;"></i>
                                                                                    <p for="inlineinput" class="col-form-label" >Công đoạn: <p  for="inlineinput" class="col-form-label" id="txt_operation"></p</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="input-group col-md-12">
                                                                            <div class="form-group form-inline">
                                                                                <i class="la fas fa-paperclip text-danger"
                                                                                    style="margin-right: 5px;"></i>
                                                                                    <p for="inlineinput" class="col-form-label" >Mã máy: <p for="inlineinput" class="col-form-label" id="txt_idmachine"></p</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="input-group col-md-12">
                                                                            <div class="form-group form-inline">
                                                                                <i class="la fas fa-puzzle-piece text-danger" style="margin-right: 5px;"></i>
                                                                                    <p for="inlineinput" class="col-form-label" >Chủng loại: <p for="inlineinput" class="col-form-label"  id="txt_machinetype"></p</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="input-group col-md-12">
                                                                            <div class="form-group form-inline" >
                                                                                <i class="la fas fa-location-arrow text-secondary"style="margin-right: 5px;"></i><p for="inlineinput" class="col-form-label" >Line/chuyền: <p for="inlineinput" class="col-form-label" id="txt_line"></p</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="input-group col-md-12">
                                                                            <div class="form-group form-inline" >
                                                                                <i class="la fas fa-map-marker-alt text-secondary"style="margin-right: 5px;"></i>
                                                                                <p for="inlineinput" class="col-form-label" >Vị trí/line: <p for="inlineinput" class="col-form-label" id="txt_postion"></p</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="input-group col-md-12" style="margin-bottom: 25px;">
                                                                            <div class="input-group" style="width: 100%;">
                                                                                <div class="input-group-prepend bg-warning">
                                                                                    <div class="input-group-text bg-warning text-white" style="border: 0;">Mã lỗi hỏng</div>
                                                                                </div>
                                                                                <select class="form-control" id="txt_codedefect" style="padding: 0;">
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-action" style="display: flex;justify-content: space-between;background-color: #f0f0f0;">
                                                                        <button class="btn btn-danger float-left" id="btn_closeopenticket"><span class="btn-label"><i class="fa fas fa-window-close"></i></span>Đóng</button>
                                                                        <button class="btn btn-success float-right" id="btn_submit_openticket"><span class="btn-label"><i class="fa fas fa-location-arrow"></i></span>Đăng ký</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-10 machine-container" id="machine_layout_arrange" style="background-color: white;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ===============MODAL MECHANIC TASK============================== -->
                                    <div class="modal" id="modal_mechanic_task" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document" style="width: fit-content;">
                                            <div class="modal-content">
                                                <div class="modal-header bg-warning" id="mode_background_task">
                                                    <h2 class="modal-title">BẮT ĐẦU SỬA MÁY ID | <span id="txt_machineID_reparing"></span></h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                        style="color: red;">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="input-group col-md-12" style="margin-top: 10px;">
                                                        <div class="col-md-4 form-group form-inline">
                                                            <i class="la fas fafas fa-fingerprint text-info" style="margin-right: 5px;font-size: 14px;"></i>
                                                            <span style="font-size: 14px;" id="txt_empID_open"></span>
                                                        </div>
                                                        <div class="col-md-8 form-group form-inline">
                                                            <i class="la fas fa-address-book text-info" style="margin-right: 5px;font-size: 14px;"></i>
                                                            <span style="font-size: 14px;" id="txt_empName_open"></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group col-md-12" style="margin-top: 10px;">
                                                        <div class="form-group form-inline">
                                                            <i class="la fas fa-parachute-box text-info" style="margin-right: 5px;font-size: 20px;"></i>
                                                            <span style="font-size: 14px;color: red;" id="txt_codedefect_employee"></span>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="input-group col-md-12">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text text-info"><i class="fas fa-user-tag"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Scan ID thợ máy" id="txt_mechanicID">
                                                        <button type="button" class="btn btn-icon btn-round btn-primary" id='btn_clear_mechanicID' style="margin-left: 5px;"><i class="fas fa-recycle"></i>
                                                        </button>
                                                    </div>
                                                    <div class="input-group col-md-12" style="margin-top: 10px;">
                                                        <div class="form-group form-inline">
                                                            <i class="la fas fa-user-astronaut text-warning" style="margin-right: 5px;font-size: 20px;"></i>
                                                            <span style="font-size: 14px;" id="txt_mechanicName"></span>
                                                        </div>
                                                    </div>
                                                    <div class="input-group col-md-12" style="margin-top: 0px;">
                                                        <div class="form-group col-md-12 float-left">
                                                            <label for="txt_code_err_machine_mechanic" class="text-info" style="font-size: 14px;">Chọn mã lỗi máy hỏng xác nhận từ thợ máy</label>
                                                            <select class="form-control input-square p-0" id="txt_codedefect_mechanic">
                                                                <option value="" selected></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group col-md-12" style="margin-top: 0px;">
                                                        <div class="form-group col-md-12 text-success float-left">
                                                            <p for="txt_task_note" style="margin-left: 0px;">GHI CHÚ NGHIỆP VỤ</p>
                                                            <textarea class="form-control" id="txt_task_note" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div id="scan_production_employee" style="display: none;">
                                                        <div class="input-group col-md-12" >
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text text-info"><i class="fas fa-id-badge"></i></span>
                                                            </div>
                                                            <input type="text" class="form-control" placeholder="Scan NVSX xác nhận" id="txt_operatorID">
                                                            <button type="button" class="btn btn-icon btn-round btn-warning" id='btn_clear_operatorID' style="margin-left: 5px;"><i class="fas fa-recycle"></i>
                                                            </button>
                                                        </div>
                                                        <div class="input-group col-md-12" style="margin-top: 10px;">
                                                            <div class="form-group form-inline">
                                                                <i class="la fas fa-location-arrow text-warning" style="margin-right: 5px;font-size: 20px;"></i>
                                                                <span style="font-size: 14px;" id="txt_operatorName"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer" style="display: flex;justify-content: space-between;">
                                                    <style>
                                                        .float-left {
                                                            float: left;
                                                        }
                                                        .float-right {
                                                            float: right;
                                                        }
                                                        .clearfix::after {
                                                            content: "";
                                                            display: table;
                                                            clear: both;
                                                        }
                                                    </style>
                                                    <div id="mode_machine_status1" class="clearfix col-md-12" style="display: none;">
                                                        <!-- đang hỏng -->
                                                        <button class="btn btn-danger float-left " id="btn_reject_reparing"><span class="btn-label"><i class="fa flaticon-interface-5"></i></span>Đóng không sửa</button>
                                                        <button class="btn btn-success float-right" id="btn_start_fix"><span class="btn-label"><i class="fa fa-check"></i></span>Bắt đầu sửa</button>
                                                    </div>
                                                    <div id="mode_machine_status2" class="clearfix col-md-12" style="display: none;">
                                                        <!-- đang sửa -->
                                                        <button class="btn btn-primary float-left" id="btn_request_part"><span class="btn-label"><i class="fa fas fa-dolly"></i></span>Yêu cầu sparepart</button>
                                                        <button class="btn btn-success float-right" id="btn_close_ticket"><span class="btn-label"><i class="fa fa-chevron-circle-down"></i></span>Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ============DONE MACHINE====================== -->
                                    <div class="modal" id="modal_mechanic_request_part" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document" style="width: fit-content;">
                                            <div class="modal-content">
                                                <div class="modal-header bg-primary">
                                                    <h2 class="modal-title">YÊU CẦU SPAREPART MÁY ID - <span id="txt_machineID_part"></span></h2>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"style="color: red;"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="input-group col-md-12" >
                                                        <div class="input-group" style="width: 100%;">
                                                            <div class="input-group-prepend bg-warning">
                                                                <div class="input-group-text bg-warning text-white" style="border: 0;">1-Kiểu thông tin</div>
                                                            </div>
                                                            <select class="form-control" id="txt_partselect" style="padding: 0;">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group col-md-12" style="margin-top: 20px;" >
                                                        <div class="input-group" style="width: 100%;">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text bg-primary text-white" style="border: 0;">2-Chọn tên part</div>
                                                            </div>
                                                        </div>
                                                        <div class="input-group" style="width: 100%;margin-top: 5px;">
                                                            <select class="form-control" id="txt_partmachine" style="padding: 0;">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="input-group col-md-12" style="margin-top: 20px;margin-bottom: 20px;" >
                                                        <div class="input-group" style="width: 100%;margin-bottom: 5px;">
                                                            <div class="input-group-prepend">
                                                                <div class="input-group-text bg-primary text-white" style="border: 0;">3-Mã Part</div>
                                                            </div>
                                                        </div>
                                                        <div class="input-group" style="width: 100%;margin-bottom: 10px;">
                                                            <input type="text" class="form-control" id="txt_partCode" autocomplete="off">
                                                        </div>
                                                        <div class="input-group" style="width: 100%;margin-bottom: 10px;">
                                                            <input type="text" class="form-control" id="txt_partName">
                                                        </div>
                                                    </div>
                                                    <div class="input-group col-md-12" >
                                                        <div class="input-group" style="width: 100%;">
                                                            <div class="input-group-prepend ">
                                                                <div class="input-group-text bg-primary text-white" style="border: 0;">4-Số lượng</div>
                                                            </div>
                                                            <input class="form-control" id="partnumber" min="1" max="500" step="1" value="1" placeholder="1" type="number" style="padding: 0;background-color: yellow;text-align: center;font-weight: bold;color: red;">
                                                            <small id="partnumber" class="form-text text-muted"></small>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="input-group col-md-12">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text text-dark"><i class="fas fa-user-tag"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Scan ID thợ máy xác nhận" id="txt_machanicID">
                                                        <button type="button" class="btn btn-icon btn-round btn-primary" id='btn_clear_machanic_part' style="margin-left: 5px;"><i class="fas fa-recycle"></i></button>
                                                    </div>
                                                    <div class="input-group col-md-12" style="margin-top: 10px;">
                                                        <div class="form-group form-inline">
                                                            <i class="la fas fa-user-astronaut text-warning" style="margin-right: 5px;font-size: 20px;"></i>
                                                            <span style="font-size: 14px;" id="txt_machanic_requestpart"></span>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12" style="margin-top: 10px;">
                                                        <div class="card">
                                                            <div class="card-header bg-success">
                                                                <div class="card-title text-white">Thông tin các yêu cầu</div>
                                                            </div>
                                                            <div class="card-body" style="background-color: white;">
                                                                <div class="table-responsive">
                                                                    <table class="table table-bordered" id="table_partlist">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>PartCode</th>
                                                                                <th>Số lượng</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-primary" id="btn_mechanic_send_request"><span class="btn-label"><i class="fas fas fa-crow"></i></span>Gửi yêu cầu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- =====================MODAL============================== -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--   Core JS Files   -->
            <script src="./assets/js/core/jquery.3.2.1.min.js"></script>
            <script src="./assets/js/core/popper.min.js"></script>
            <script src="./assets/js/core/bootstrap.min.js"></script>
            <!-- jQuery UI -->
            <script src="./assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
            <script src="./assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
            <!-- jQuery Scrollbar -->
            <script src="./assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
            <!-- Moment JS -->
            <script src="./assets/js/plugin/moment/moment.min.js"></script>
            <!-- Chart JS -->
            <script src="./assets/js/plugin/chart.js/chart.min.js"></script>
            <!-- jQuery Sparkline -->
            <script src="./assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
            <!-- Chart Circle -->
            <script src="./assets/js/plugin/chart-circle/circles.min.js"></script>
            <!-- Datatables -->
            <script src="./assets/js/plugin/datatables/datatables.min.js"></script>
            <!-- Bootstrap Notify -->
            <script src="./assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
            <!-- Bootstrap Toggle -->
            <script src="./assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>
            <!-- jQuery Vector Maps -->
            <script src="./assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
            <script src="./assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>
            <!-- Google Maps Plugin -->
            <script src="./assets/js/plugin/gmaps/gmaps.js"></script>
            <!-- Sweet Alert -->
            <script src="./assets/js/plugin/sweetalert/sweetalert.min.js"></script>
            <script src="./assets/js/ready.min.js"></script>
            <script src="./assets/js/setting-demo.js"></script>
            <!-- Custom JS -->
            <script src="./JS/MechanicSewing/js-mechanic-sewing-downtime-visualization.js"></script>
</body>

</html>