<div class="sidebar" data-background-color="purple">
    <div class="sidebar-background"></div>
    <div class="sidebar-wrapper scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav">
                <li class="nav-item">
                    <a href="/">
                        <i class="fas fa-home text-success"></i>
                        <p class="text-success">Trang chủ kỹ thuật máy</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section text-info">mung.tran@hanes.com</p>
                </li>
                <li class="nav-item submenu">
                    <a data-toggle="collapse" href="#sewingmechanic">
                        <i class="fas fa-user-astronaut text-warning"></i>
                        <p>Thợ máy</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse show" id="sewingmechanic">
                        <ul class="nav nav-collapse bg-white">
                            <!-- <li>
                                <a href="sewing-mechanic-downtime-manage">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-allergies text-success"></i>Bấm giờ máy hỏng 1</span>
                                </a>
                            </li> -->

                            <li>
                                <a href="sewing-mechanic-downtime-manage-2">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-allergies text-success"></i>Bấm giờ máy hỏng 2</span>
                                </a>
                            </li>

                            <li>
                                <a href="/sewing-mechanic-change-style"><span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-compass text-success"></i>Chuyển đổi mã hàng</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-downtime-report">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-layer-group text-success"></i>Báo cáo downtime máy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-downtime-analyst">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-donate text-success"></i>Báo cáo phân tích</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-move-line">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-clipboard-list text-success"></i>Thay đổi layout</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-setup-groupline">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-solar-panel text-success"></i>Thiết lập line/chuyền</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-machine-inventory">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-chart-pie text-success"></i>Tồn kho Inventory máy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-machine-position">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-code-branch text-success"></i>Cập nhật vị trí</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-moving-machine-history">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-atlas text-success"></i>Thông tin di chuyển máy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/sewing-mechanic-sparepart-issuse">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-gem text-success"></i>Cấp phát phụ tùng</span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="/sewing-mechanic-broken-endshift">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-forward text-success"></i>Máy đóng cuối ca</span>
                                </a>
                            </li> -->
                            <!-- <li>
                                <a href="http://pbv-fzvx8x2/mec/machinemovelog">
                                    <span style="display: flex;align-items: center;justify-content: center;margin-top: auto;margin-bottom: auto;"><i class="la fas fa-archway text-primary"></i>Hệ thống cũ</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
